body {
  font-family: 'Cormorant Garamond', 'Noto Serif SC', serif;
}

h1, h2, h4{
  font-family: 'Young Serif', 'Noto Serif SC', serif;
}

.navbar-brand {
  font-size: 1.7rem; 
}


.navigation {
  font-family: 'DM Serif Display', serif;
  font-size: 1.7rem;
}

.highlight-text {
  background: linear-gradient(120deg, #D2E3C8 0%, #D2E3C8 100%);
  background-repeat: no-repeat;
  background-size: 100% 20%;
  background-position: 0 60%;
} 

.nav-link {
  background: linear-gradient(120deg, #D2E3C8 0%, #D2E3C8 100%);
  background-repeat: no-repeat;
  background-size: 100% 20%;
  background-position: 0 60%;
  display: inline-block; 
  transition: background-size 0.3s; 
}

/* To change background size on hover */
.nav-link:hover {
  background-size: 100% 100%;
}

.auth-links {
  margin-left: auto; 
  display: flex; 
}

footer {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.title-logo{
  opacity: 0.4;
  filter: alpha(opacity=40);
  text-decoration:none;
}

.title-logo:hover{
  opacity: 0.9;
  filter: alpha(opacity=80);
  text-decoration:none;
}

ul li a {
  color: #163020;
}

.alert {
  font-size: 20px;
}

