{% extends "base.html" %}
    {% block head %}
        <link href="{{ url_for('static', filename = 'css/styles.css') }}" rel="stylesheet">
    {% endblock %}

<!-- The following HTML code is adapted from the "about.html" file created by Start Bootstrap. -->
<!-- Original source: https://github.com/StartBootstrap/startbootstrap-clean-blog/blob/master/dist/about.html -->

    {% block body %}
        <header class="masthead" style="background-image: url('static/images/posts/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">to love calmly, <br> to trust without ambivalence, <br>to hope without self-mockery, <br>to perform arduous tasks with unlimited resources of energy.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- flash messages  -->
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
       </div>

        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% for line in lines %}
                            <p>{{ line }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}
