{% extends "base.html" %}
    {% block head %}
    
    
    <link href="{{ url_for('static', filename = 'css/home.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename = 'css/styles.css') }}" rel="stylesheet"> -->

    {% endblock %}

{% block body %}
<!-- main body -->
<div class="container">
    <div class="wrapper fixed-wrapper">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a class="button" href="#" id="close"></a>
                            <a class="button" href="#" id="min"></a>
                            <a class="button" href="#" id="max"></a>
                        </div>
                        <span class="title">lyla's terminal</span>
                    </div>
                    <div class="message">
                      <span class='prompt'><span class='user'>lyla</span><span class="at">@</span><span
                              class="path">/home/lyla/</span>><span
                              class="caret">$</span></span>
                        <span class="typed"></span>
                        <form>><span class="caret">$</span>&nbsp;<input name="response" type="text"/></form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
        <div class="wrapper scroll-wrapper">
            <div class="top-text">
                <p class="text-title desktop-view mobile-view">Lyla Li</p>
                <p class="text-title mobile-view">Lyla Li</p>

            <footer class="border-top">
                <div class="justify-content-start">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <ul class="list-inline">
                                <li class="list-inline-item title-logo">
                                    <a href="https://twitter.com/mijiaqiongzi">
                                        <span class="fa-stack fa-lg">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="list-inline-item title-logo">
                                    <a href="https://www.linkedin.com/in/lyla-li">
                                        <span class="fa-stack fa-lg">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="list-inline-item title-logo">
                                    <a href="https://github.com/lylali">
                                        <span class="fa-stack fa-lg">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="small text-muted fst-italic">Copyright &copy; · 2024 · Lyla Li</div>
                        </div>
                </div>
            </footer>
        
        </div>


        <div class="middle-text">
            {% for line in lines %}
                <p class="text-content">{{ line }}</p> 
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
<script src="{{ url_for('static', filename = 'js/home.js') }}" type="text/javascript"></script>
{% endblock %}